main{
    background-image: linear-gradient(rgb(45, 43, 43),black,red);
}
img{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
    justify-content: space-evenly, space-between;
}

nav{
    text-align: center;
    background-color: black;
    height: 90px;
}

article{
    height: 1000px;
    width: 100px;
}

.gallery{
    text-align: center;
    margin-left: 10%;
}

table{
    text-align: center;
    margin-left: 10%;
}

h1{
    text-align: center;
    color: white;
    font-size: 20px;
}

p{
    margin-left: 10%;
    text-align: center;
    color: white;
    font-size: large;
}

.added_image{
    margin-top: 10%;
    margin-left: 10%;
    height: 300px;
    width: 450px;
    justify-content: center;
    border-radius: 5%;
}